/* Empty. Add your own CSS if you like */
@font-face {
    font-family: 'vol'; /*a name to be used later*/
    src: url('../fonts/Bebas.ttf');
}
@font-face {
    font-family: 'vol_body';
    src: url('../fonts/PTSans.ttf');
}
*{
    background-color: #ffd600 !important;
    color: #444 !important;
    font-family: vol_body !important;
}
#volc{
    position: absolute;
    bottom: 0px;
}
h1{
    font-size: 2.6em;
    text-align: center;
    font-family: vol !important;
}
h4{
    font-size: 14px;
    opacity: 0.9;
    font-family: vol !important;
}
#drinks{
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    height: 73%;
    border-bottom: 2px solid;
    overflow: hidden;
}
#drink-wrap{
    height: 90%;
    overflow: auto;
    overflow-x: hidden;
}
.placeholder{
    text-align: center;
    padding: 10px;
    margin: 5px !important;
}
#footer{
    padding: 10px;
    font-size: 1em;
    margin-left: 5%;
    margin-right: 5%;
}
#about{
    float: right;
    text-align: right;
}
#about strong{
    margin-bottom: 5px;
}
.about-header{
    margin-bottom: 5px;
}
.about-section{
    margin-top: 15px;
}
#about-wrap{
    text-align: center;
    padding: 20px;
    font-size: 1em;
}
#about-wrap strong{
    margin-bottom: 10px;
}
#about-wrap a{
    text-decoration: none;
}
#about-wrap img{
    border-radius: 100px;
    border: 7px solid;
    clear: both;
}
#info{
    float: left;
    text-align: left;
}
#info span, #about span{
    font-size: 1.4em;
    margin-right: 4px;
    margin-left: 4px;
    position: relative;
    top: 2px;
}
#title-wrap span{
    font-size: 1.5em;
    padding: 3px;
}
#title-wrap{
    margin-top: 6%;
    text-align: center;
    height: 12%;
}
#title-inner{
    margin: 0 auto;
}
.modal{
  margin-top: 12px;
}
.modal-inner{
    padding: 20px;
    padding-top: 4%;
    padding-bottom: 5%;
    font-size: 1.2em;
}
.modal-inner .button-full{
    border: 1px solid;
}
.input-value{
    float: right;
    position: absolute;
    right: 7%;
}
.input-name{
    margin-bottom: 4px;
    z-index: 4;
    position: relative;
    left: 10px;
    padding: 3px 10px 3px 0px;
    width: 100%;
}
.input-name-inline{
    width: 20% !important;
    display: inline-block;
}
.input-group{
    z-index: 1;
}
.input-group .button{
    border-radius: 0px;
}
.input-group .button-bar{
    margin-bottom: 10px;
}
.input-group .button.selected{
    border: 3px solid;
}
.item.range{
    border: none !important;
    border: none !important;
    position: relative;
    bottom: 10px;
    z-index: 3;
}
.modal-close{
    font-size: 2.2em;
    text-align: right;
    padding: 6px;
    margin-bottom: 20px;
}
.drink, .placeholder{
    height: 40px;
    margin: 1px !important;
    padding-right: 2%;
    width: 99%;
    margin-top: 5px !important;
}
.drink div, .placeholder div{
    position: relative;
    top: 51%;
    transform: translateY(-50%);
}
.header{
    width: 100%;
    height: 29px;
    font-size: 0.8em;
    margin-bottom: 5px;
    border-bottom: 2px solid;
}
.header div, .drink div{
    display: inline-block;
    float: right;
    width: 18%;
    text-align: center;
}
.radio-wrapper{
    float: right;
    text-align: center;
    position: relative;
    top: 3px;
}
.radio-group{
    margin-bottom: 35px;
}
.radio-wrapper div{
    display: inline-block;
    text-align: center;
    border-radius: 40px;
    height: 40px;
    width: 40px;
    line-height: 43px;
    border: 3px solid #444;
    font-size: 15px;
}
.radio-wrapper div.selected{
    background-color: #444 !important;
    color: #ffd600 !important;
}
div.remove{
    width: 10% !important;
}
div.remove i{
    font-size: 1.5em;
}
.alc{
    display: none !important;
}
.range .icon{
    font-size: 1.6em !important;
}
/* responsive */

@media screen and (min-width: 350px) {
    .header div, .drink div{
        width: 18%;
    }
}
@media screen and (max-width: 350px) {
    #about{
        display: none;
    }
}
@media screen and (max-width: 300px) {
    .cost{
        display: none !important;
    }
    .header div, .drink div{
        width: 22%;
    }
    #footer{
        display: none;
    }
}
@media screen and (max-height: 450px) {
    #footer{
        display: none;
    }
    #title-inner span{
        display: none;
    }
}
